# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
.next/
out/

# Tailwind JIT cache
.tailwind/

# Environment variables (if any)
.env

# Docker
docker-compose.override.yml
